.app{
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.app-body{
    display: flex;
    height: max-content;
}
#root::-webkit-scrollbar{
    display:none;
  }
  #root{
   overflow-style:none;
    scrollbar-width: none;
  }